<div class="forgot-password">
  <div class="container">
    <div class="col-md-6 offset-md-3">
      <div class="inner-form">
        <h3 class="title">Reset your password</h3>
        <form name="fpForm" #fpForm="ngForm" novalidate>
          <div class="row">
            <div class="col-md-12">
              <label>Email</label>
              <div class="form-group">
                <input type="email" name="email" class="form-control" [(ngModel)]="fpData.email" required>
              </div>
            </div>
            <div class="col-md-12">
              <label>Password</label>
              <div class="form-group">
                <input type="password" name="password" class="form-control" [(ngModel)]="fpData.password" required>
              </div>
            </div>
            <div class="col-md-12">
              <label>Confirm Password</label>
              <div class="form-group">
                <input type="password" name="cpassword" class="form-control" [(ngModel)]="fpData.cpassword" required>
              </div>
            </div>
            <div class="col-md-12">
              <button type="submit" class="btn btn-default" (click)="resetPassword(fpData)" [disabled]="fpForm.form.invalid">
                <span>Reset</span>
              </button>
            </div>
            <div class="col-md-12">
              <div class="login float-right">
                <span routerLink="/">Back to login</span>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- inner-form -->
    </div>
  </div>
</div>