<div class="main-content">
  <div class="heading">
    <h3>Update</h3>
  </div>
  <div class="col-md-6 offset-md-3">
    <div class="inner-form">
      <!-- <h3>Update</h3> -->
      <form [formGroup]="updateForm" class="form-horizontal">
        <div class="form-group row" [ngClass]="{'has-error': (!dc.valid && dc.touched)}">
          <label for="DC" class="col-sm-4 control-label">ENTER DC</label>
          <div class="col-sm-6">
            <select [formControl]="dc" class="form-control" id="dc">
              <option>Select a value</option>
              <option *ngFor="let item of dcList">
                {{item.dc}}
              </option>
            </select>
            <div *ngIf="dc.hasError('required') && dc.touched" class="error">You must include a DC.</div>
          </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-error': (!warehouse.valid && warehouse.touched)}">
          <label for="warehouse" class="col-sm-4 control-label">ENTER WAREHOUSE</label>
          <div class="col-sm-6">
            <select [formControl]="warehouse" class="form-control" id="warehouse">
              <option>Select a value</option>
              <option *ngFor="let item of warehouseList">
                {{item.wh}}
              </option>
            </select>
            <div *ngIf="warehouse.hasError('required') && warehouse.touched" class="error">You must include a warehouse.</div>
          </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-error': (!orderType.valid && orderType.touched)}">
          <label for="inputPassword3" class="col-sm-4 control-label">ENTER ORDER TYPE</label>
          <div class="col-sm-6">
            <input [formControl]="orderType" type="text" class="form-control" id="orderType" placeholder="Enter order type...">
            <div *ngIf="orderType.hasError('required') && orderType.touched" class="error">You must include a order type.</div>
          </div>
        </div>
        <div class="form-group row ">
          <div class="col-sm-10">
            <button [disabled]="updateForm.invalid" type="submit" class="btn btn-outline-dark">OK</button>
            <button class="btn btn-outline-dark" type="submit" (click)="updateForm.reset()">CANCEL</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>