<div class="nav-side-menu">
  <!-- <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i> -->

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">
      <li data-toggle="collapse" data-target="#products" class="collapsed" routerLink="globalupdate" routerLinkActive="active">
        <a>
          GLOBAL UPDATE
          <span class="arrow"></span>
        </a>
      </li>
      <ul class="sub-menu collapse" id="products">
        <li routerLink="globalupdate/transwave" routerLinkActive="active">
          <a>TRANS_WAVE_ID</a>
        </li>
        <li routerLink="globalupdate/deliverytype" routerLinkActive="active">
          <a>DELIVERY_TYPE</a>
        </li>
        <li routerLink="globalupdate/holidayindicator" routerLinkActive="active">
          <a>HOLIDAY_INDICATOR</a>
        </li>
      </ul>
      <li data-toggle="collapse" data-target="#service" class="collapsed" routerLink="productclassupdate" routerLinkActive="active">
        <a>
          PRODUCT CLASS UPDATE
          <span class="arrow"></span>
        </a>
      </li>
      <ul class="sub-menu collapse" id="service">
        <li routerLink="productclassupdate/addproduct" routerLinkActive="active" title="ADD PRODUCT CLASS/PROTECTION LEVEL COMBINATION">
          <a>ADD PRODUCT CLASS/PROTECTION LEVEL COMBINATION</a>
        </li>
        <li routerLink="productclassupdate/deleteproduct" routerLinkActive="active" title="DELETE PRODUCT CLASS/PROTECTION LEVEL COMBINATION">
          <a>DELETE PRODUCT CLASS/PROTECTION LEVEL COMBINATION</a>
        </li>
        <li routerLink="productclassupdate/changeproduct" routerLinkActive="active" title="CHANGE PRODUCT CLASS'S PROTECTION LEVEL">
          <a>CHANGE PRODUCT CLASS'S PROTECTION LEVEL </a>
        </li>
      </ul>
      <li routerLink="ordertype" routerLinkActive="active">
        <a>
          ADD/DELETE ORDER TYPE
        </a>
      </li>
      <li routerLink="query" routerLinkActive="active">
        <a>
          QUERY
        </a>
      </li>
    </ul>
  </div>
</div>