<div class="container main-content">
  <div class="col-md-6 offset-md-3">
    <div class="inner-form">
      <h3>Add/delete order type</h3>
      <form [formGroup]="orderTypeForm" class="form-horizontal">
        <div class="form-group row" [ngClass]="{'has-error': (!dc.valid && dc.touched)}">
          <label for="DC" class="col-sm-4 control-label">Enter DC</label>
          <div class="col-sm-6">
            <input [formControl]="dc" type="text" class="form-control" id="DC" placeholder="Enter DC...">
            <div *ngIf="dc.hasError('required') && dc.touched" class="error">You must include a DC.</div>
          </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-error': (!warehouse.valid && warehouse.touched)}">
          <label for="warehouse" class="col-sm-4 control-label">Enter Warehouse</label>
          <div class="col-sm-6">
            <input [formControl]="warehouse" type="text" class="form-control" id="warehouse" placeholder="Enter warehouse...">
            <div *ngIf="warehouse.hasError('required') && warehouse.touched" class="error">You must include a warehouse.</div>
          </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-error': (!order_type.valid && order_type.touched)}">
          <label for="inputPassword3" class="col-sm-4 control-label">Enter order type to add or delete</label>
          <div class="col-sm-6">
            <input [formControl]="order_type" type="text" class="form-control" id="order_type" placeholder="Enter order type...">
            <div *ngIf="order_type.hasError('required') && order_type.touched" class="error">You must include a order type.</div>
          </div>
        </div>
        <div class="form-group row update-button">
          <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-default float-left" (click)="orderTypeForm.reset()" >CANCEL</button>
            <button [disabled]="!orderTypeForm.valid" type="submit" class="btn btn-default btn-auth" data-toggle="modal" data-target="#myModal" (click)="selectionType('add')">ADD</button>
            <button [disabled]="!orderTypeForm.valid" type="submit" class="btn btn-default float-right" data-toggle="modal" data-target="#myModal" (click)="selectionType('delete')">DELETE</button>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-body">
                <p class="text-center">Are you sure to update?</p>
                <div class="buttons text-center">
                    <button type="button" class="btn btn-default" (click)="onSubmit(orderTypeForm.value);orderTypeForm.reset();" data-dismiss="modal" >Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>