/* You can add global styles to this file, and also import other style files */
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.has-error {
  color: red;
  input,
  select {
    border: 1px solid red;
  }
  .error {
    color: red;
  }
}
.main-content {
  padding:  0px !important;
  .heading {
    background: #2b2c31;
    text-align: center;
    padding: 0.25rem;
    margin-bottom: 2rem;
    h3 {
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
    }
  }
  .inner-form {
    background: #fff;
    h3 {
      text-align: center;
      color: #fff;
      background: #72d6f5;
      padding: 10px 0px;
      font-size: 16px;
      text-transform: uppercase;
    }
    .form-horizontal {
      .form-group {
        label {
          text-transform: uppercase;
          font-size: 14px;
        }
      }
    }
  }
}
